@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?33918835');
  src: url('../fonts/fontello.eot?33918835#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?33918835') format('woff2'),
  url('../fonts/fontello.woff?33918835') format('woff'),
  url('../fonts/fontello.ttf?33918835') format('truetype'),
  url('../fonts/fontello.svg?33918835#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}